/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.updateBooksDialog{
    margin-top: -480px;
    margin-left: 150px;
  }

  .openBooksDialog{
    margin:auto;
    padding:25px;
  }

  .updateRentalDialog{
    margin:auto;
    padding:25px;
  }