   <body>
      <!-- header section start -->
<app-header></app-header>
      <!-- header section end -->
      <!-- banner section end -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="banner_taital">Enjoy <br>Buying and Rental Books</div>
                  <p class="banner_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <div class="see_bt"><a href="#">See More</a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- banner section end -->
      <!-- arrival section start -->
      <div class="arrival_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-lg-4">
                  <div class="image_1">
                     <h2 class="jesusroch_text">J E S U S R O C H</h2>
                     <p class="movie_text">Hollywood</p>
                  </div>
               </div>
               <div class="col-sm-6 col-lg-4">
                  <div class="image_2">
                     <h2 class="jesusroch_text">PHYSICS</h2>
                     <p class="movie_text">ICSE X BOOK</p>
                  </div>
               </div>
               <div class="col-sm-8 col-lg-4">
                  <h1 class="arrival_text">A r r i v a l</h1>
                  <div class="movie_main">
                     <div class="mins_text_1">50 Pages</div>
                     <div class="mins_text">Actions Novel</div>
                     <div class="mins_text"><img src="/assets/images/icon-1.png"><span class="icon_1">Watchlist</span></div>
                  </div>
                  <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p>
                  <div class="rating_main">
                     <div class="row">
                        <div class="col-sm-6 col-lg-6">
                           <div class="icon_2"><img src="/assets/images/icon-2.png"><span class="padding_10">4.6 Revieweed</span></div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                           <div class="icon_2"><img src="/assets/images/icon-2.png"><span class="padding_10">Your Rateing</span></div>
                        </div>
                     </div>
                  </div>
                  <div class="paly_bt"><a href="#">Get Now</a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- arrival section end -->
      <!-- movies section start -->


      <!-- newsletter section end -->
      <!-- cooming  section start -->
      <div class="cooming_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="image_17">
                     <div class="image_17"><img src="/assets/images/img-17.png"></div>
                  </div>
               </div>
               <div class="col-md-6">
                  <h1 class="number_text">01</h1>
                  <h1 class="Cooming_soon_taital">Cooming soon</h1>
                  <p class="long_text_1">It is a long established fact that a reader will be distracted by the readable content of a page when looking</p>
                  <div class="paly_bt"><a href="#">Play Now</a></div>
               </div>
            </div>
         </div>
      </div>
<app-footer></app-footer>
      <!-- copyright section end -->
      <!-- Javascript files-->
   </body>

   <div class="modal fade" id="exampleModals" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Sign in</h3>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-login></app-login>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModals1" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Sign in</h3>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-register></app-register>
          </div>
        </div>
      </div>
    </div>
